{% extends 'layouts/base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem repudiandae ex in ut voluptatum consequatur harum laborum dolores animi delectus corporis est temporibus enim dolorem doloremque possimus, ipsa amet. Omnis, eos. Cupiditate reprehenderit sit magnam dolorem ut, aliquid consequatur esse, est dolorum odit unde eveniet, commodi vitae molestias cum at deleniti. Odio error laboriosam blanditiis reprehenderit ab eos nulla dolorem fugit quas, animi aspernatur magni soluta repellat repudiandae iure illum quidem. Aliquam temporibus obcaecati dolorum voluptatibus sint. Obcaecati aspernatur necessitatibus nisi id cum incidunt rem dolor quibusdam? Debitis recusandae ipsa, esse eveniet hic vel ab, corrupti ipsum sunt quod deserunt?
        </p>
        
        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}
